.footer{
    margin: 0 auto;
    margin-top: $margin-spacing;
    max-width: $main-width;
    background-color: $color;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
      background-color: blue;
      height: 150px;
      width: 150px;
      margin-top: $margin-spacing;
    }
  }