.flex-container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }

.container2 {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.container2 .container{
  margin-right: 20px;
  background-color: green;
  width: calc(100% / 2);
  height: 300px;
}

.container2 .container:last-child{
  margin-right: 0px;
}

.container3 {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.container3 .container{
  margin-right: 20px;
  background-color: green;
  width: calc(100% / 3);
  height: 120px;
}

.container3 .container:last-child{
  margin-right: 0px;
}